asgiref==3.8.1
beautifulsoup4==4.12.3
Brotli==1.1.0
Django==3.2.25
django-stubs==5.0.0
django-stubs-ext==5.0.0
gunicorn==22.0.0
lxml==5.2.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tablib==3.6.1
tomli==2.0.1
types-PyYAML==6.0.12.20240311
typing_extensions==4.11.0
tzdata==2024.1
whitenoise==6.6.0
